.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
   padding: 1.7% 4%;
   position: sticky;
   top: 0;
   background-color: var(--default-a);
   z-index: 7;
   box-shadow: var(--shadow-dark);
}

.logo {
   width: auto;
   display: flex;
   align-items: center;
   justify-content: start;
   font-size: 27px;
   font-weight: 700;
   letter-spacing: 0.03em;
   cursor: pointer;
   position: relative;
}

.logo a {
   text-decoration: none;
   color: var(--primary);
}

.navList {
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: end;
   gap: 3rem;
   font-size: 17px;
   font-weight: 600;
   padding: 7px;
}

.navList a {
   text-decoration: none;
   color: var(--secondary-a);
}

.navList a:hover {
   color: var(--primary);
}

.navList>div {
   height: 100%;
   display: flex;
   align-items: center;
   position: relative;
   letter-spacing: 0.05em;
   cursor: pointer;
}

.navList>div:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2.4px;
   bottom: 0;
   left: 0;
   background-color: var(--primary);
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
}

.navList>div:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

.modeBtn {
   width: auto;
   display: flex;
   align-items: center;
   justify-content: end;
}

.modeBtn>button {
   background-color: transparent;
   border: none;
   font-size: 24px;
   color: var(--secondary-a);
   cursor: pointer;
}

.modeBtn>button:hover {
   color: var(--primary);
}

.home {
   display: flex;
   align-items: center;
   gap: 0.7%;
   box-sizing: border-box;
   padding: 2% 5%;
   padding-top: 4%;
   padding-bottom: 0;
   text-align: left;
   cursor: default;
   color: var(--secondary-c);
}

.home>div:first-child {
   width: 60%;
   letter-spacing: 0.05em;
}

.homeDetails h1 {
   font-weight: 600;
   line-height: 1;
   color: var(--secondary-b);
}

.homeDetails h1:last-of-type {
   font-size: 46px;
   color: var(--primary);
}

.home>div:last-child {
   width: 40%;
}

.homeImg {
   width: 100%;
   border-radius: 10px;
}

.homeIcons {
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 2%;
   margin: 2% 1.8%;
   font-size: 27px;
}

.homeIcons>a {
   text-decoration: none;
   color: var(--secondary-a);
   cursor: pointer;
}

.homeIcons>a:first-of-type:hover {
   color: black;
}

.homeIcons>a:nth-child(2):hover {
   color: #0072b1;
}

.homeIcons>a:nth-child(3):hover {
   color: tomato;
}

.homeIcons>a:last-of-type:hover {
   color: #229ED9;
}

.btnDiv a {
   text-decoration: none;
   color: var(--default-a);
}

.btnDiv button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2%;
}

.ri {
   font-size: 20px;
}

.btn {
   font-size: 16px;
   font-weight: bold;
   letter-spacing: 0.05em;
   color: var(--default-a);
   background-color: var(--primary);
   border: 2px solid var(--primary);
   padding: 1.7% 6%;
   border-radius: 30px;
}

.btn:hover {
   transition: all .75s ease;
   cursor: pointer;
   background-color: var(--primary-hover);
   border-color: var(--primary-hover);
   color: var(--default-a);
}

.outline {
   background-color: transparent;
   color: var(--primary);
}

.about {
   padding: 7% 2%;
   padding-bottom: 0;
   color: var(--secondary-a);
   cursor: default;
}

.aboutHeader {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1%;
   letter-spacing: 0.05em;
   margin-bottom: 1%;
}

.aboutHeader>h1 {
   color: var(--secondary-b);
   font-weight: 600;
}

.aboutHeader>h1:last-of-type {
   color: var(--primary);
}

.aboutContent {
   padding: 3%;
   padding-bottom: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: left;
   font-size: 19px;
   letter-spacing: 0.05em;
   line-height: 1.7;
}

.aboutContent>div:first-child {
   width: 25%;
}

.avatar {
   width: 100%;
   border-radius: 17px;
   cursor: pointer;
   background-color: var(--avatar-background);
}

.aboutContent>div:last-child {
   width: 70%;
   display: flex;
   flex-direction: column;
   gap: 40px;
   position: relative;
}

.aboutContent>div:last-child>div {
   z-index: 1;
}

.aboutContent span {
   color: var(--primary);
   font-weight: 600;
}

.typing {
   font-size: 30px;
   font-weight: 600;
}

.bgi {
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: -1;
   background-image: url('../assets/blue.png');
   background-repeat: no-repeat;
   background-size: 70%;
   background-position: center center;
   filter: brightness(1);
}

.education {
   height: 100%;
   letter-spacing: 0.05em;
   color: var(--secondary-c);
   padding: 0 3%;
}

.education>div:first-child {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.05em;
   color: var(--secondary-b);
   padding: 3%;
}

.ao {
   color: var(--primary);
}

.booksIcon {
   font-size: 24px;
   margin-left: 0.5%;
}

.education>div:first-child>h1 {
   font-weight: 600;
}

.education>div:last-child {
   background-color: var(--default);
}

.education>div:last-child>div {
   width: 60%;
   border-radius: 33px;
   text-align: left;
   box-sizing: border-box;
   box-shadow: var(--shadow-dark);
   background-color: var(--default-b);
   margin-bottom: 5%;
}

.education>div:last-child>div:last-child {
   margin-bottom: 0;
}

.education>div:last-child>div:nth-child(2),
.education>div:last-child>div:nth-child(4) {
   margin-left: 40%;
}

.institution {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 4%;
   padding: 2%;
   line-height: 0.5;
   color: var(--secondary-c)
}

.institution:nth-of-type(1),
.institution:nth-of-type(3) {
   flex-direction: row-reverse;
   justify-content: start;
}

.institution>div:first-child>h3 {
   color: var(--primary);
   font-weight: 600;
}

.instImgDiv {
   width: 17%;
}

.institution:nth-of-type(1)>.instImgDiv {
   width: 25%;
}

.institution:nth-of-type(1)>.instImgDiv>img {
   border: 2px solid tomato;
}

.instImgDiv>img {
   width: 100%;
   border-radius: 50%;
}

.institution h3+div {
   margin-bottom: 20px;
}

.skills {
   height: 50%;
   display: flex;
   flex-flow: wrap;
   font-size: 14px;
   align-items: center;
   justify-content: start;
   gap: 7px;
}

.skills>div {
   width: auto;
   height: 26px;
   padding: 0 2%;
   display: flex;
   gap: 4px;
   align-items: center;
   justify-content: space-between;
   border: 1px solid var(--default-c);
   background-color: var(--default-a);
   border-radius: 20px;
}

.skills>div:hover {
   cursor: pointer;
}

.skills>div>img {
   height: 14px;
}

.mySkills {
   height: auto;
   padding: 7% 5%;
   letter-spacing: 0.05em;
   cursor: default;
   padding-bottom: 0;
}

.mySkills>div:first-child {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--secondary-b);
   margin-bottom: 3%;
}

.mySkills h1 {
   font-weight: 600;
}

.mySkills h1>span {
   color: var(--primary);
}

.mySkillsIcon {
   font-size: 24px;
   margin-left: 0.3em;
}

.skillsContainer {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 5.1%;
   margin-top: 3%;
   padding: 7% 3%;
   padding-bottom: 13%;
   margin-bottom: 10%;
   background-color: var(--background-color);
}

.skillsContainer>div {
   height: 120px;
   box-sizing: border-box;
   padding: 9% 0;
   border-radius: 10px;
   cursor: pointer;
   box-shadow: var(--shadow-dark);
   background-color: var(--default-a);
}

.skillsContainer>div:nth-last-child(10) {
   display: flex;
   align-items: center;
   justify-content: center;
}

.skillsContainer>div:hover {
   border: 1px solid var(--default-b);
   box-shadow: none;
}

.skillsContainer>div>img {
   height: 100%;
}

.skillsContainer+div {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--secondary-b);
   margin-bottom: 3%;
}

.giSkills {
   font-size: 22px;
   margin-left: 0.3em;
}

.softSkills {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.softSkills>button {
   height: 36px;
   font-size: 16px;
   padding: 0 2%;
   color: var(--default-a);
   background-color: var(--primary);
   border: none;
   margin: 4px;
   letter-spacing: 0.05em;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5em;
}

.projects {
   padding: 7% 5%;
   letter-spacing: 0.05em;
   cursor: default;
   color: var(--secondary-c);
   padding-bottom: 0;
}

.projects>div:first-child {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--secondary-b);
   margin-bottom: 3%;

}

.projects>div:first-child>h1 {
   font-weight: 600;
}

.projects>div:first-child>h1>span {
   color: var(--primary);
}

.projectIcon {
   font-size: 30px;
   margin-left: 0.3em;
}

.projectCard {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 3%;
   box-sizing: border-box;
   padding: 2%;
   border-radius: 17px;
   box-shadow: var(--shadow-dark);
   margin-bottom: 5%;
}

.projectCard:hover {
   background-color: var(--background-color);
}

.projectCard:last-of-type {
   margin-bottom: 0;
}

.projectCard>div {
   width: 50%;
   text-align: left;
}

.projectCard>div>img {
   width: 100%;
   border-radius: 10px;
   box-shadow: var(--shadow-dark);
}

.projectCard h1 {
   font-weight: 600;
   color: var(--primary);
   line-height: 1;
}

.projectCard p+div {
   margin-bottom: 2%;
}

.pia,
.pib {
   font-size: 30px;
   margin-right: 2%;
}

.pia:first-of-type,
.pib:nth-child(2) {
   color: dodgerblue;
}

.pia:nth-child(2) {
   font-size: 32px;
   color: skyblue;
}

.pia:last-child {
   font-size: 34px;
   color: tomato;
}

.pib:first-of-type {
   color: tomato;
}

.pib:last-child {
   color: gold;
}

.projectCard p+div+div {
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 3%;
}


.projectCard a {
   text-decoration: none;
   color: var(--secondary-b);
   width: 24%;
   border-radius: 17px;
   border: 1px solid var(--primary);
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4%;
   padding: 1%;
   color: var(--secondary-a)
}

.projectCard a:hover {
   cursor: pointer;
   color: var(--default-a);
   background-color: var(--primary);
}

.paa {
   font-size: 20px;
}

.myStatus {
   padding: 7% 5%;
   letter-spacing: 0.05em;
   cursor: default;
   color: var(--secondary-c);
   padding-bottom: 0;
}

.myStatus>div:first-child {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--secondary-b);
   margin-bottom: 3%;
}

.myStatus>div:first-child>h1 {
   font-weight: 600;
}

.myStatus>div:first-child>h1>span {
   color: var(--primary);
}

.myStatusIcon {
   font-size: 25px;
   margin-left: 0.3em;
}

.myStatus>div:last-child {
   padding: 7% 0;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: var(--background-color);
}

.myStatus>div:last-child>div {
   height: 195px;
   width: 43%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   box-shadow: var(--shadow-dark);
   cursor: pointer;
   background-color: var(--default-a);
}

.contact {
   height: 650px;
   padding: 7% 5%;
   letter-spacing: 0.05em;
   cursor: default;
   color: var(--secondary-c);
}

.contact>div:first-child {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--secondary-b);
   margin-bottom: 3%;
}

.contact>div:first-child>h1 {
   font-weight: 600;
}

.contact>div:first-child>h1>span {
   color: var(--primary);
}

.contactIcon {
   font-size: 29px;
   margin-left: 0.3em;
}

.contactForm {
   width: 60%;
   height: 60%;
   padding: 5%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2%;
   background-color: var(--background-color);
   border-radius: 17px;
}

.contactForm>div {
   height: 100%;
}

.contactForm>div:first-child {
   width: 45%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   line-height: 0.7;
   color: var(--secondary-c);
}

.contactForm>div:first-child>div:first-child {
   text-align: left;
}

.contactForm>div>div>h1 {
   font-weight: 600;
   line-height: 0;
   color: var(--primary);
}

.contactForm>div>div>h1+p {
   color: var(--secondary-a);
}

.contactForm>div>div:nth-child(2) {
   width: 100%;
   height: 50%;
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 14%;
}

.contactForm>div>div:nth-child(2)>div {
   display: flex;
   align-items: center;
   justify-content: left;
   gap: 4%;
}

.contactForm>div>div:nth-child(2)>div>a {
   text-decoration: none;
   font-weight: 600;
   color: var(--secondary-a);
}

.contactIcons {
   font-size: 24px;
   color: var(--primary)
}

.contactForm>div:first-child>div:last-child {
   display: flex;
   align-items: center;
   justify-content: left;
   gap: 14%;
   font-size: 27px;
}

.smIcons:first-of-type {
   color: #0072b1;
}

.smIcons:nth-of-type(2) {
   color: #7289da;
   font-size: 30px;
}

.smIcons:last-of-type {
   color: var(--secondary-c);
   font-size: 28px;
}

.contactForm>div:last-child {
   width: 55%;
   border-radius: 20px;
   background-color: var(--default-a);
   box-shadow: var(--shadow-dark);
   border: 1px solid var(--default-c);
   box-sizing: border-box;
   padding: 3%;
}

.contactForm form {
   width: 100%;
   height: 100%;
   text-align: left;
}

.contactForm input,
.contactForm textarea {
   width: 100%;
   height: 40px;
   box-sizing: border-box;
   padding: 3%;
   margin-bottom: 5%;
   border-radius: 7px;
   border: 1px solid var(--default-c);
   outline-color: var(--primary);
   background-color: transparent;
   color: var(--secondary-c);
}

.contactForm textarea {
   max-width: 100%;
   height: 100px;
   max-height: 100px;
}

.contactForm input:hover,
.contactForm textarea:hover {
   border-color: var(--primary);
}

.contactForm input[type=submit] {
   background-color: var(--primary);
   font-weight: 600;
   color: var(--default-a);
   text-transform: uppercase;
   letter-spacing: 0.1em;
   border-radius: 20px;
}

.contactForm input[type=submit]:hover {
   cursor: pointer;
   background-color: var(--primary-hover);
}

.successAlert {
   position: sticky;
   bottom: 20px;
   height: 50px;
   width: 270px;
   padding: 0 1.4%;
   border-radius: 7px;
   background-color: rgb(199, 246, 215);
   display: flex;
   align-items: center;
   justify-content: left;
   gap: 3%;
   color: rgb(27, 27, 27);
}

.successIcon {
   font-size: 24px;
   color: rgb(56, 161, 105);
}


@media all and (min-width: 768px) and (max-width: 1024px) {

   .logo {
      font-size: 24px;
   }

   .navList {
      font-size: 15px;
      gap: 1.7rem;
      width: 60%;
   }

   .modeBtn>button {
      font-size: 20px;
   }

   .homeDetails h1 {
      font-size: 24px;
   }

   .homeDetails h1:last-of-type {
      font-size: 33px;
   }

   .homeDetails>div:nth-child(2) {
      font-size: 14px;
   }

   .homeIcons {
      font-size: 25px;
   }

   .btn {
      font-size: 14px;
   }

   .aboutContent {
      font-size: 16px;
      gap: 2%;
      line-height: 1.4;
   }

   .aboutContent>div:first-child {
      width: 35%;
   }

   .typing {
      font-size: 27px;
   }

   .education>div:last-child>div {
      width: 76%;
      border-radius: 24px;
   }

   .education>div:last-child>div:nth-child(2),
   .education>div:last-child>div:nth-child(4) {
      margin-left: 24%;
   }

   .institution>div:first-child>h3 {
      font-size: 16px;
   }

   .institution h3+div {
      font-size: 14px;
   }

   .skills {
      font-size: 12px;
      gap: 5px;
   }

   .skills>div {
      height: 22px;
   }

   .skillsContainer>div {
      height: 70px;
   }

   .projectCard {
      flex-direction: column;
   }

   .projectCard:nth-of-type(2) {
      flex-direction: column-reverse;
   }

   .projectCard>div {
      width: 100%;
   }

   .myStatus>div:last-child {
      flex-direction: column;
   }

   .myStatus>div:last-child>div {
      width: 80%;
   }

   .myStatus>div:last-child>div:first-child {
      margin-bottom: 7%;
   }

   .contact {
      height: 600px;
   }

   .contactForm {
      width: 90%;
      height: 66%;
   }

   .contactForm>div>div:nth-child(2)>div>a {
      font-size: 14px;
   }
}


@media all and (min-width: 260px) and (max-width: 767px) {

   .logo {
      font-size: 20px;
   }

   .navList {
      font-size: 12px;
      gap: 3%;
      display: none;
   }

   .home {
      flex-direction: column-reverse;
   }

   .home>div:first-child {
      width: 100%;
   }

   .home>div:last-child {
      width: 100%;
   }

   .homeDetails h1 {
      font-size: 18px;
   }

   .homeDetails h1:last-of-type {
      font-size: 22px;
   }

   .homeDetails>div:nth-child(2) {
      font-size: 12px;
   }

   .homeIcons {
      font-size: 22px;
   }

   .ri {
      font-size: 17px;
   }

   .btn {
      font-size: 14px;
   }

   .aboutContent {
      flex-direction: column;
      font-size: 15.5px;
      gap: 10px;
   }

   .aboutContent>div:first-child {
      width: 40%;
   }

   .aboutContent>div:last-child {
      width: 100%;
      text-align: center;
      gap: 10px;
   }

   .typing {
      font-size: 20px;
   }

   .education>div:last-child>div {
      width: 100%;
      border-radius: 17px;
   }

   .education>div:last-child>div:nth-child(2),
   .education>div:last-child>div:nth-child(4) {
      margin-left: 0;
   }

   .education .institution {
      flex-flow: column-reverse;
      align-items: flex-start;
      justify-content: center;
   }

   .institution>div:first-child>h3 {
      font-size: 11px;
   }

   .institution h3+div {
      font-size: 10px;
      margin-bottom: 4%;
   }

   .institution:nth-of-type(1)>.instImgDiv {
      width: 17%;
   }

   .skills {
      font-size: 9px;
      gap: 5px;
   }

   .skills>div {
      height: 17px;
   }

   .mySkills h1 {
      font-size: 30px;
   }

   .skillsContainer {
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 64%;
   }

   .skillsContainer>div {
      height: 70px;
   }

   .softSkills>button {
      font-size: 10px;
      height: 24px;
   }

   .projectCard {
      padding: 4%;
      flex-direction: column;
   }

   .projectCard:nth-of-type(2) {
      flex-direction: column-reverse;
   }

   .projectCard h1 {
      font-size: 17px;
   }

   .projectCard h1+p {
      font-size: 14px;
   }

   .projectCard>div {
      width: 100%;
   }

   .projectCard a {
      width: 40%;
      font-size: 14px;
      margin-top: 2%;
   }

   .myStatus>div:last-child {
      flex-direction: column;
   }

   .myStatus>div:last-child>div {
      width: 95%;
      height: 100%;
   }

   .myStatus>div:last-child>div>img {
      width: 100%;
   }

   .myStatus>div:last-child>div:first-child {
      margin-bottom: 7%;
   }

   .contact {
      height: 850px;
   }

   .contactForm {
      flex-direction: column;
      height: 81%;
      width: 90%;
      gap: 4%;
   }

   .contactForm>div:first-child {
      width: 100%;
      height: 45%;
      line-height: 1.5;
   }

   .contactForm>div:last-child {
      width: 100%;
      height: 55%;
      padding: 7% 4%;
   }

   .contactForm>div>div:nth-child(2) {
      gap: 7%;
   }

   .contactForm>div:first-child>div:last-child {
      gap: 7%;
   }

   .successAlert {
      width: 95%;
      margin: auto;
   }
}